name: deploy-marketing

on:
  push:
    branches:
      - main
    paths:
      - 'package/marketing/**'

defaults:
  run:
    working-directory: package/marketing

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - run: npm install
      - run: npm run build

      - name: Copy to server
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: 'package/marketing/dist/*'
          target: '/var/www/mfe/marketing'
          strip_components: 3
